.events-related {
  width: 100%;
  background-color: #dfeffd;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
}
.events-related > h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #000d50;
}
.events-related .events-card-host > p {
  font-weight: bold;
}
.events-related-cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.events-related .events-card-bottom {
  margin-top: auto;
}
.events-related .events-card-content {
  flex: 1;
}
.events-related .events-card-bottom > input {
  height: 1.2rem;
  width: 1.2rem;
  flex-shrink: 0;
  accent-color: #6b9fff;
}
.events-related > button {
  align-self: flex-end;
}
.events-related > button:disabled {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .events-related {
    gap: 0.7rem;
    padding: 0.7rem;
  }
  .events-related-cards {
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: auto;
  }
  .events-related-cards > .events-card {
    position: relative;
    flex: 0 0 95%;
  }
  .events-related .events-card-image > img {
    height: 18vh;
    object-fit: contain;
    background-color: #000000;
  }
  .events-related .events-card-content {
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .events-related .events-card-host > img {
    position: absolute;
    top: 18vh;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}
