.events-card {
  width: 32%;
  background-color: #f7f8f9;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
}
.events-card-image > img {
  width: 100%;
  height: auto;
  display: block;
}
.events-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.7rem;
}
.events-card-content > h4 {
  font-size: 1rem;
  color: #000d50;
}
.events-card-host {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.events-card-host > p {
  font-size: 0.8rem;
  color: #000d50;
}
.events-card-host > img {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  object-fit: cover;
}
.events-card-host > span {
  font-size: 0.8rem;
  color: #6b9fff;
}
.events-card-rating {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.events-card-rating > i {
  font-size: 0.8rem;
  color: #f5b301;
}
.events-card-rating > span {
  font-size: 0.8rem;
  color: #000d50;
}
.events-card-rating > small {
  font-size: 0.6rem;
  color: #6b9fff;
}
.events-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.events-card-bottom > p {
  font-size: 0.7rem;
  color: #858484;
}

@media (max-width: 767px) {
  .events-card {
    width: 100%;
    flex-shrink: 0;
  }
}
