.article-contents {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.article-contents > h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000d50;
}
.article-contents-links {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #dfeffd;
}
.article-contents-links > a,
.article-contents-links > span {
  font-size: 0.9rem;
  color: #000d50;
  padding: 0.5rem 1rem;
}
.article-contents-links > .article-contents-active {
  color: #6b9fff;
  border-left: 2px solid #6b9fff;
  margin-left: -2px;
}
