.find-advisors-hero {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #ffffff;
}
.find-advisors-hero > h1 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #000d50;
  text-align: center;
}
.find-advisors-hero > p {
  font-size: 1rem;
  color: #000d50;
  text-align: center;
}

@media (max-width: 767px) {
  .find-advisors-hero {
    height: auto;
    min-height: 20vh;
    gap: 1rem;
    padding: 2rem 1rem;
  }
  .find-advisors-hero > h1 {
    font-size: 1.8rem;
  }
  .find-advisors-hero > p {
    width: 80%;
    max-width: 22rem;
  }
}
