.match-quiz-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.match-quiz-services > p {
  font-size: 1rem;
  color: #000d50;
  text-align: center;
}
.match-quiz-services-options {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.match-quiz-services-options > button {
  width: 100%;
  font-size: 0.9rem;
  color: #000d50;
  background-color: #f7f8f9;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.match-quiz-services-options > .match-quiz-services-selected {
  color: #ffffff;
  background-color: #6b9fff;
}

@media (max-width: 767px) {
  .match-quiz-services-options {
    width: 95%;
  }
}
