.match-quiz-ready {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.match-quiz-ready > h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000d50;
  text-align: center;
}
