.footer {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #162a3d;
}
.footer-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-footer {
  width: 28%;
}
.logo-footer > img {
  width: 80%;
  height: auto;
}
.footer-links-copy {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1rem;
}
.footer-copyright {
  width: 100%;
}
.footer-copyright > p {
  font-size: 0.9rem;
  text-align: center;
}
.footer-socials {
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}
.footer-socials > a > i {
  font-size: 2.5rem;
}

@media (max-width: 767px) {
  .footer {
    height: 50vh;
  }
  .footer-content {
    width: 75%;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  .footer-links-copy {
    display: contents;
  }
  .footer-socials {
    order: 1;
    width: 100%;
    gap: 3rem;
  }
  .footer-socials > a > i {
    font-size: 2rem;
  }
  .footer-links {
    order: 2;
    width: 100%;
    align-items: flex-start;
  }
  .footer-links > div {
    gap: 2rem;
  }
  .logo-footer {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo-footer > img {
    width: 30%;
    height: auto;
  }
  .footer-copyright {
    order: 4;
    width: 100%;
  }
  .footer-copyright > p {
    font-size: 0.7rem;
    text-align: center;
  }
}
