.events-details-layout {
  width: 100%;
  display: flex;
}
.events-details-content {
  width: 96%;
  display: flex;
  justify-content: center;
  padding: 6rem 0;
}
.events-details-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.events-details-left {
  width: 45%;
}

@media (max-width: 767px) {
  .events-details-content {
    width: 100%;
    padding: 3rem 0 6rem;
  }
  .events-details-container {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }
  .events-details-left {
    width: 100%;
  }
}
