.match-quiz {
  height: 120vh;
  width: 100%;
  background-color: #eff4f7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10vh;
}
.match-quiz-panel {
  height: 80vh;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 2rem;
}
.match-quiz-heading {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.match-quiz-heading > h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000d50;
  text-align: center;
}
.match-quiz-progress {
  width: 70%;
  display: flex;
  gap: 1.5rem;
}
.match-quiz-progress > span {
  height: 0.25rem;
  flex: 1;
  background-color: var(--border-color);
  border-radius: 0.5rem;
}
.match-quiz-progress > .match-quiz-progress-active {
  background-color: #6b9fff;
}
.match-quiz-content {
  width: 80%;
  flex: 1;
  padding: 2rem 0;
}
.match-quiz-actions {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.match-quiz-back {
  font-size: 1rem;
  color: #858484;
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
}
.match-quiz-panel-long {
  height: 100vh;
}
.match-quiz-panel-ready {
  height: 50vh;
  padding: 2rem;
}

@media (max-width: 767px) {
  .match-quiz {
    height: 100vh;
    background-color: #ffffff;
    padding-top: 3rem;
  }
  .match-quiz-panel {
    height: 90vh;
    width: 100%;
    padding: 1rem 0 2rem;
  }
  .match-quiz-heading {
    width: 90%;
  }
  .match-quiz-heading > h2 {
    font-size: 1.4rem;
  }
  .match-quiz-progress {
    width: 85%;
    gap: 1rem;
  }
  .match-quiz-content {
    width: 90%;
    flex: none;
    padding: 3rem 0;
  }
  .match-quiz-actions {
    width: 90%;
  }
  .match-quiz-panel-ready {
    height: 40vh;
    padding: 1rem 0;
  }
}
