.home-hero {
  height: 90vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.home-hero-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.home-hero-content > h3 {
  font-size: 2rem;
  color: #6b9fff;
}
.home-hero-content > h1 {
  font-size: 2.5rem;
  color: #000d50;
}
.home-hero-content > p {
  font-size: 1rem;
  color: #000d50;
}
.home-hero-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-hero-image > img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

@media (max-width: 767px) {
  .home-hero {
    height: 80vh;
  }
  .home-hero > .container-home {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .home-hero-content {
    display: contents;
  }
  .home-hero-content > h1 {
    order: 1;
    text-align: center;
  }
  .home-hero-content > p {
    order: 2;
    text-align: center;
  }
  .home-hero-image {
    order: 3;
    width: 100%;
  }
  .home-hero-content > h3 {
    order: 4;
    text-align: center;
  }
  .home-hero-content > .primary-button {
    order: 5;
    align-self: center;
  }
}
