.home-hero {
  height: 90vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.container-home {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-hero-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.home-hero-content > h3 {
  font-size: 2rem;
  color: #6b9fff;
}
.home-hero-content > h1 {
  font-size: 2.5rem;
  color: #000d50;
}
.home-hero-content > p {
  font-size: 1rem;
  color: #000d50;
}
.home-hero-content > button {
  width: fit-content;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #6b9fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
}
.home-hero-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-hero-image > img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
