.growing-network {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.growing-network > h2 {
  font-size: 1.8rem;
  color: #000d50;
}
.growing-network-images {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.growing-network-images > img {
  width: calc((100% - 5rem) / 6);
  aspect-ratio: 248 / 260;
  object-fit: cover;
  border-radius: 0.5rem;
}
.growing-network-mobile {
  display: none;
}

@media (max-width: 767px) {
  .growing-network {
    height: 70vh;
    gap: 3rem;
  }
  .growing-network > h2 {
    text-align: center;
  }
  .growing-network-images {
    width: 80%;
    gap: 0.7rem;
  }
  .growing-network-desktop {
    display: none;
  }
  .growing-network-mobile {
    display: flex;
  }
  .growing-network-images > img {
    width: calc((100% - 1.4rem) / 3);
  }
}
