.consultant-profile-bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid var(--border-color);
}
.consultant-profile-bio > h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000d50;
}
.consultant-profile-bio-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.consultant-profile-bio-text > p {
  font-size: 1rem;
  color: #000d50;
}
.consultant-profile-bio-tags {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.consultant-profile-bio-tags > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.consultant-profile-bio-tags strong {
  font-size: 0.9rem;
  color: #000d50;
  margin-right: 0.5rem;
}
.consultant-profile-bio-tags span {
  font-size: 0.75rem;
  color: #000d50;
  background-color: #eff4f7;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
}
.consultant-profile-bio-more {
  display: none;
}

@media (max-width: 767px) {
  .consultant-profile-bio {
    gap: 1.5rem;
    border-bottom: none;
  }
  .consultant-profile-bio-text:not(.consultant-profile-bio-text-expanded)
    > p:first-child {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .consultant-profile-bio-text:not(.consultant-profile-bio-text-expanded)
    > p
    + p {
    display: none;
  }
  .consultant-profile-bio-more {
    display: block;
    align-self: flex-start;
    margin-top: -0.7rem;
    font-size: 0.9rem;
    color: #6b9fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
