.forgot-password-step-two {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.forgot-password-message {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.forgot-password-message > h1 {
  font-size: 1.8rem;
  color: #000d50;
}
.forgot-password-message > p {
  font-size: 1rem;
  color: #000d50;
  text-align: center;
}
.forgot-password-resend {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.forgot-password-resend > p {
  font-size: 1rem;
  color: #000d50;
  text-align: center;
}
.forgot-password-resend > button {
  font-size: 1rem;
  color: #000d50;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
.forgot-password-mobile-title {
  display: none;
}

@media (max-width: 767px) {
  .forgot-password-step-two {
    height: 60vh;
    align-items: flex-start;
    padding-top: 4rem;
  }
  .forgot-password-message {
    width: 75%;
    gap: 2rem;
  }
  .forgot-password-message > h1 {
    font-size: 1.4rem;
    text-align: center;
  }
  .forgot-password-desktop-title {
    display: none;
  }
  .forgot-password-mobile-title {
    display: inline;
  }
}
